@import url('normalize.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
html,
body {    
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #000;
    line-height: 1.375rem;
}
a, a:link, a:visited {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
.container {
    width: 62.5rem;
    margin: 0 auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}
/* .fixed {
    position:fixed;
    width:100%; 
} */
h1,h2,h3,h4 {
    margin: 0;
}

/* section header START*/
.section-header {
    width: 100%;
    height: 29.375rem;
    background-color: #69d2e7;
    border-top: 5px solid #fa6900;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
}
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
       -webkit-box-orient: horizontal;    
       -ms-flex-direction: row;
           flex-direction: row;
         -webkit-box-pack: justify;
            -ms-flex-pack: justify;
          justify-content: space-between;
    margin-top: 2.1875rem;
}
.header__logo,
.footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header__img,
.footer__img {
    margin-right: 0.625rem;
}
.header__company,
.footer__company {
    font-size: 1.2425rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.0625rem;
    margin-bottom: 0.3125rem;
}
.header__tag,
footer__tag {
    font-size: 1.0625rem;
    font-weight: 400;
}
.heder__menu {
    width: 2.5625rem;
    height: 2.5625rem;
    background: url('../img/menu.png') no-repeat;
    margin-right: 0.625rem;
    cursor: pointer;
}
.main-info {
    color: #fff;
    font-weight: 700; 
    text-transform: uppercase;
    text-align: center;
    margin-top: 6rem;
}
.main-info__title {
    font-size: 5.1875rem;  
    margin-bottom: 2.1875rem;
}
.main-info__tag {
    font-size: 1.9375rem;
}
/* Section header END */

/* Section about START */
.section-about {
    position: relative;
    background-color: #f1f1f1;
}
.about-us {
    position: absolute;
    top: -6.25rem;
    width: 52.1875rem;
    height: 17.8125rem;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.625rem;
    text-align: center;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
}
.about-us__title {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2.9375rem;    
}
.line {
    width: 24.0625rem;
    height: 0.0625rem;
    background-color: #d5d5d5;
    margin: 1.875rem auto 2.1875rem;
}
.about-us__caption {
    font-size: 1.375rem;
    line-height: 2.125rem;
    font-weight: 300;
    text-align: left;
    padding: 0 2.1875rem;
}
.about-items {
    width: 55.3125rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
       -webkit-box-orient: horizontal;    
       -ms-flex-direction: row;
           flex-direction: row;
         -webkit-box-pack: justify;
            -ms-flex-pack: justify;
          justify-content: space-between;
    padding: 15.9375rem 0.9375rem 2.5rem;
}
.about-item {
    width: 13.4375rem;
    height: 15rem;
}
.about-item__logo {
    width: 10.125rem;
    height: 10.125rem;
    border-radius: 0.625rem;
    margin: 0 auto;
}
.item1 {
    background: #fff url('../img/about-item1.png') no-repeat center;
}
.item2 {
    background: #69d2e7 url('../img/about-item2.png') no-repeat center;    
}
.item3 {
    background: #fff url('../img/about-item3.png') no-repeat center;    
}
.about-item__caption {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-top: 1.875rem;
}
/* Section about END */

/* Section browser START */
.section-browser {
    height: 29.375rem;
    background-color: #fa6900;    
}
.browser__description {
    width: 43.75rem;
    margin: 0 auto 60px;
    padding: 2.5rem 0.9375rem 0;
    color: #fffefe;
    font-size: 1.375rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.0625rem;
}
.browser__slider {
    width: 56.5625rem;
    height: auto;
    margin: 0 auto 1.875rem;
    padding: 0 0.9375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
       -webkit-box-orient: horizontal;    
       -ms-flex-direction: row;
           flex-direction: row;
    position: relative;
}
.browser__slid {
    margin-right: 1.1875rem;
    opacity: .4;
    border-radius: 0.3125rem;
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}
.browser__slid:last-child {
    margin-right: 0;    
}
.browser__slid.slide__active {
    position: absolute;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.browser__slider-prev,
.browser__slider-next {
    width: 1.9375rem;
    height: 1.9375rem;
    position: absolute;
    z-index: 100;
    bottom: 6.875rem;
    cursor: pointer;
}
.browser__slider-prev {
    background: url('../img/slider-prev.png') no-repeat;
    left: 16.5625rem;
}
.browser__slider-next {
    background: url('../img/slider-next.png') no-repeat;
    right: 16.5625rem;
}
/* Section browser END */

/* Section testimonials START */
.section-testimonials {
    background-color: #f1f1f1;
    height: 33.125rem;
}
.testimonials {
    width: 44.5625rem;
    margin: 0 auto;
    padding-top: 3.125rem;
    text-align: center;
}
.testimonials__photo {
    width: 11.125rem;
    height: 11.125rem;
    border-radius: 50%;
    margin: 0 auto; 
    background: #fff url('../img/photo.png') no-repeat center;
}
.testimonials_name {    
    margin: 1.875rem 0 0.3125rem;;
    font-size: 1.625rem;
    font-weight: 700;
}
.testimonials_work {
    font-size: 1.375rem;
    font-weight: 300;
}
.testimonials_description {
    font-weight: 300;  
    margin-top: 1.5625rem; 
}
.testimonials__nav-item {
    width: 1.125rem;
    height: 1.125rem;
    background-color: #fff;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    margin: 4.0625rem 0.75rem 0;
    cursor: pointer;
    vertical-align: middle;
}
.testimonials__nav-item.activ {
    background-color: #69d2e7;
    border: 2px solid #fff;
    box-shadow: none;
}
/* Section testimonials END */

/* Section bullet START */
.section-bullet {
    min-height: 33.25rem;
    background-color: #fa6900;
    position: relative;
}
.bullet__content {
    position: absolute;
    width: 26.8125rem;
    color: #fff;
    margin-top: 8.75rem;
}
.bullet__conten-title {
    font-size: 1.625rem;
    font-weight: 700;
    margin-bottom: 0.3125rem;
}
.bullet__conten-caption {
    font-size: 1.375rem;
    font-weight: 300;
    margin-bottom: 3.125rem;
}
.bullet__conten-description {
    font-weight: 300;
}
.layer__background {
    width: 45%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/Layer.png') no-repeat;
    left: -6.4375rem;
    z-index: 100;
}
/* Section bullet END */

/* Footer */

/* Section footer START */
.section-footer {
    background-color: #f1f1f1;
}
.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 90px;
}
.advertising {
    width: 460px;
}
.social {
    width: 149px;
    height: 38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
    border: 1px solid #000;
    border-radius: 3px;
    margin-top: 33px;
    display: flex;
    
}
.social__item {
    display: block;
    width: 37px;
    height: 37px;
    border-right: 1px solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
    background: url('../img/social-sprite.png') no-repeat center;
}
.social__item:last-child {
    border-right: none;
}
.fb {
    background-position: 0 0;
}
.tw {
    background-position: -37px 0;
}
.pi {
    background-position: -74px 0;
}
.in {
    background-position: -111px 0;
}
.advertising__descriptions {
    font-weight: 300;
    margin-bottom: 30px;
}
.posts {
    width: 430px;
}
.posts__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 55px;
}
.post__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
}
.post__item-avatar {
    width: 93px;
    height: 93px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-right: 27px;
}
.post__item-wrapper {
    width: 306px;
}
.post__item-caption {
    font-size: 14px;
    font-weight: 700;
}
.post__item-description {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}


/* Section footer END */

/* Section footer-bar START */
.footer-bar {
    background-color: #69d2e7;    
}
.footer-bar__content {
    height: 70px; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;       
     justify-content: space-between;
       -ms-flex-pack: justify;
    -webkit-box-align: center;
       -ms-flex-align: center;
          align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
/* Section footer-bar END */

/* Media query */

@media screen and (max-width: 1029px) {
    .container {
        width: 900px;
    }
    .bullet__content {
        width: 400px;
    }
}
@media screen and (max-width: 934px) {
    .browser__slider {
        width: 900px;
        justify-content: space-between;
    }
    .browser__slid {
        margin-right: 0px;
    }
}
@media screen and (max-width: 929px) {
    .container {
        width: 800px;
    }
    .about-items {
        width: 700px;;
    }
    .browser__slider {
        width: 800px;
    }
    .browser__slid {
        width: 300px;
        height: 100%;
    }
    .browser__slider-next,
    .browser__slider-prev {
        bottom: -70px;
    }
    .browser__slider-next {
        right: 40%;
        
    }
    .browser__slider-prev {
        left: 40%;
    }
    .layer__background {
        width: 35%;
    }
    .footer__content {
        flex-direction: column;
    }
    .advertising {
        width: 100%;
    }
    .posts {
        width: 100%;
    }
    .post__item-wrapper {
        width: 600px;
    }
}
@media screen and (max-width: 864px) {
    .about-us {
        width: 670px;
    }
}
@media screen and (max-width: 829px) {
    .container {
        width: 700px;
    }
    .browser__slider {
        width: 700px;
    }
    .testimonials {
        width: 100%;
    }
    .bullet__content {
        width: 350px;
        margin-top: 100px;
    }
    .bullet__conten-title {
        font-size: 24px;
    }
    .bullet__conten-caption {
        font-size: 20px;
    }
}
@media screen and (max-width: 729px) {
    .container {
        width: 600px;
    }
    .browser__slider {
        width: 600px;
    }
    .browser__description {
        width: 600px;
    }
    .layer__background {
        width: 25%;
    }
    .about-items {
        width: 670px;
    }
    .post__item-wrapper {
        width: 425px;
    }
}
@media screen and (max-width: 699px) {
    .about-us {
        width: 600px;
    }
    .about-us__caption {
        font-size: 20px;
        line-height: 1.375rem;
    }
    .about-items {
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 220px;
    }
    .about-item {
        margin-bottom: 30px;
    }
    .about-item:last-child {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 629px) {
    .container {
        width: 500px;
    }
    .about-us {
        width: 500px;
    }
    .browser__description {
        width: 500px;
    }
    .browser__slider {
        width: 500px;
    }
    .slider-prev,
    .slider-next {
        display: none;
    }
    .browser__slid.slide__active {
        position: static;
        transform: none;
        margin: 0 auto;
    }
    .bullet__content {
        width: 290px;
        margin-top: 70px;
    }
    .bullet__conten-title {
        font-size: 20px;
    }
    .bullet__conten-caption {
        font-size: 18px;
    }
    .bullet__conten-description {
        font-size: 15px;
    }    
    .post__item-wrapper {
        width: 350px;
    }
}
@media screen and (max-width: 529px) {
    .container {
        width: 400px;
    }
    .about-us {
        width: 400px;
    }
    .line {
        width: 280px; 
    }
    .about-us__caption {
        font-size: 18px;
    }
    .browser__description {
        width: 400px;
    }
    .browser__slider {
        width: 400px;
    }
    .testimonials__nav-item {
        margin-top: 30px;
    }
    .layer__background {
        width: 20%;
    }
    .bullet__content {
        width: 245px;
    }
    .bullet__conten-title {
        font-size: 17px;
    }
    .bullet__conten-caption {
        font-size: 16px;
    }
    .bullet__conten-description {
        font-size: 14px;
    }
    .post__item-wrapper {
        width: 260px;
    }
    .post__item-description {
        margin-top: 5px;
        font-weight: 300;
    }
    .footer-bar__content {
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 512px) {
    .layer__background {
        width: 15%;
    }
    .layer {
        width: 104px;
    }
}
@media screen and (max-width: 429px) {
    .container {
        width: 310px;
    }
    .main-info__title {
        font-size: 60px;
    }
    .main-info__tag {
        font-size: 24px;
    }
    .about-us {
        width: 310px;
    }
    .line {
        margin-bottom: 26px;
    }
    .about-us__caption {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    .browser__description {
        width: 310px;
        font-size: 1rem
    }
    .browser__slider {
        width: 310px;
    }
    .testimonials__nav-item {
        margin-top: 15px
    }
    .layer__background {
        width: 0;
    }
    .post__item-wrapper{
        width: 190px;
    }
}
@media screen and (max-width: 379px) {
    .bullet__conten-caption {
        margin-bottom: 30px;
    }   
    .bullet__conten-description {
        width: 200px;
    }
}
@media screen and (max-width: 339px) {
    .container {
        width: 300px;
    }
    .about-us {
        width: 300px;
    }
    .line {
        width: 240px; 
    }
    .browser__description {
        width: 300px;
    }
    .browser__slider {
        width: 300px;
    }
    .browser__slider-next {
        right: 35%;        
    }
    .browser__slider-prev {
        left: 35%;
    }
    .testimonials__nav-item {
        margin-top: 15px
    }     
    .layer__background {
        width: 0;
    }
    .post__item-wrapper{
        width: 190px;
    }
    .post__item-wrapper{
        width: 175px;
    }
}